<body>
	<h3 align = "center">Welcome! tweet tweet~ :)</h3>
	<p align = "center"><img src="/img/bird2.png" alt="bird"></p>
	{{{body}}}

	<p align = "center">See the <a href="/birds">list</a> or change my <a href="/settings">settings</a>.</p>
</body>