<h3 align = "center">Settings</h3>


<p align = "center">Only show birds that have been seen this <span>many times:</span></p>
<form align = "center" action="" method="post">
  <input align = "center" type="text" class = "textbox" name="minVal" placeholder = "M  i  n  i  m  u  m">
  <p align = "center"><input type="submit" class = "css_button" value="Set It!"></p>
</form>


<p align = "center"><a href="/birds" title="" >(Back to Birds)</a></p>